.git/
.github/
.cursor/
.vscode/
.idea/

build/
build_debug/
build_release/
build_coverage/
bin/
lib/
obj/
_deps/
ccache_data/

results/
data/

__pycache__/
*.pyc
.ipynb_checkpoints/

compile_commands.json
*.pt
*.pth
*.onnx
*.csv
*.png
*.log
*.exe
*.out

coverage-html/
coverage.info
docs/html/
docs/latex/

extern/pytorch
extern/libtorch/

.DS_Store
*.swp
