build/
build
bin/
lib/
*.out
*.exe
*.app

*.i
*.ii
*.gpu
*.ptx
*.fatbin
*.d
compute_prof_log.txt

.vscode/
.idea/
*.swp
.DS_Store

extern/*/.build/

data/
models/*.pth
models/*.onnx
*.log
node_modules/

__pycache__/
*.pyc
.ipynb_checkpoints/

docs/html/
docs/latex/
doxygen_sqlite3.db
