[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/highway"]
	path = extern/highway
	url = https://github.com/google/highway.git
[submodule "extern/cutlass"]
	path = extern/cutlass
	url = https://github.com/NVIDIA/cutlass.git
